# DATA

![alt text](https://www.geeksforgeeks.org/wp-content/uploads/creating_dataframe1.png)

## Manually Create a DataFrame

In [2]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## CSV File from Goole Drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Reading CSV File

In [4]:
df = pd.read_csv("/content/drive/My Drive/pandas/weather_data.csv")

#'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

# df = pd.read_csv('url of your data')

# pd.read_csv('pandas_tutorial_read.csv', delimiter=';')

# pd.read_csv('pandas_tutorial_read.csv', delimiter=';', names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

## Display First Few rows

In [5]:
df.head(3) # df.head(10)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## Display last few rows

In [6]:
df.tail(3) # df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Random Selection of rows

In [7]:
df.sample(3)

        day  temperature  windspeed event
3  1/4/2017           24          7  Snow
2  1/3/2017           28          2  Snow
4  1/5/2017           32          4  Rain

## Count number of rows and columns/dataset size

In [8]:
df.shape 
rows, columns = df.shape
columns

4

## Display the column titles

In [9]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

## The data type of all coumns

In [10]:
df.dtypes

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

## Change the default index of a dataframe

In [11]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

## Observe the original DataFrame!!!! NOT CHANGED

In [12]:
df # NOT CHANGED

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## inplace parameter

In [13]:
df.set_index('day', inplace=True)

In [14]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

## reset the index back

In [15]:
df.reset_index(inplace=True)

In [16]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Select a specific column

In [17]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [18]:
df['temperature']=df['temperature']+1

In [19]:
df['temperature']

0    33
1    36
2    29
3    25
4    33
5    32
Name: temperature, dtype: int64

## Select Multiple columns

In [20]:
df[['temperature','event']]

   temperature  event
0           33   Rain
1           36  Sunny
2           29   Snow
3           25   Snow
4           33   Rain
5           32  Sunny

In [21]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

## Total info about DataFrame

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

## Change Column name

In [23]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [24]:
df.rename(columns={
        'event': 'Event', 
        'temperature': 'TEMPERATURE'
    }, inplace=True)


df.columns

Index(['day', 'TEMPERATURE', 'windspeed', 'Event'], dtype='object')

In [25]:
df.head()

        day  TEMPERATURE  windspeed  Event
0  1/1/2017           33          6   Rain
1  1/2/2017           36          7  Sunny
2  1/3/2017           29          2   Snow
3  1/4/2017           25          7   Snow
4  1/5/2017           33          4   Rain

## Statistics of DataFrame

In [26]:
df.describe()

       TEMPERATURE  windspeed
count     6.000000   6.000000
mean     31.333333   4.666667
std       3.829708   2.338090
min      25.000000   2.000000
25%      29.750000   2.500000
50%      32.500000   5.000000
75%      33.000000   6.750000
max      36.000000   7.000000

In [27]:
df.describe(include='all')

             day  TEMPERATURE  windspeed Event
count          6     6.000000   6.000000     6
unique         6          NaN        NaN     3
top     1/4/2017          NaN        NaN  Snow
freq           1          NaN        NaN     2
mean         NaN    31.333333   4.666667   NaN
std          NaN     3.829708   2.338090   NaN
min          NaN    25.000000   2.000000   NaN
25%          NaN    29.750000   2.500000   NaN
50%          NaN    32.500000   5.000000   NaN
75%          NaN    33.000000   6.750000   NaN
max          NaN    36.000000   7.000000   NaN

## Count of categories

In [28]:
df['Event'].value_counts()

Snow     2
Rain     2
Sunny    2
Name: Event, dtype: int64

In [29]:
df['windspeed'].value_counts()

7    2
2    2
6    1
4    1
Name: windspeed, dtype: int64

## Delete a specific column

In [30]:
df.drop(['Event'], axis = 1)

        day  TEMPERATURE  windspeed
0  1/1/2017           33          6
1  1/2/2017           36          7
2  1/3/2017           29          2
3  1/4/2017           25          7
4  1/5/2017           33          4
5  1/6/2017           32          2

In [31]:
df

        day  TEMPERATURE  windspeed  Event
0  1/1/2017           33          6   Rain
1  1/2/2017           36          7  Sunny
2  1/3/2017           29          2   Snow
3  1/4/2017           25          7   Snow
4  1/5/2017           33          4   Rain
5  1/6/2017           32          2  Sunny

In [32]:
df.drop(['Event'], axis = 1,inplace=True)

In [33]:
df

        day  TEMPERATURE  windspeed
0  1/1/2017           33          6
1  1/2/2017           36          7
2  1/3/2017           29          2
3  1/4/2017           25          7
4  1/5/2017           33          4
5  1/6/2017           32          2

In [34]:
# df.drop(['C', 'D'], axis = 1) 
  
# df.drop(columns =['C', 'D']) 

# df.drop(df.columns[[0, 4, 2]], axis = 1, inplace = True)

TRY these commands for the following dataset
https://raw.githubusercontent.com/pplonski/datasets-for-start/master/credit/data.csv

# QUIZ

https://forms.office.com/Pages/ResponsePage.aspx?id=o835AF4H5USqC6ujrdZTn63NXi4eP7xHpYuejR_M4qdUNEYzVVRTRlhMMFlIODRDUTBLM1VCWjRNSi4u

[link text](https://forms.office.com/Pages/ResponsePage.aspx?id=o835AF4H5USqC6ujrdZTn63NXi4eP7xHpYuejR_M4qdUNEYzVVRTRlhMMFlIODRDUTBLM1VCWjRNSi4u)