In [ ]:
import pandas as pd
import numpy as np

# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
df.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [ ]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [ ]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

          make fuel_type aspiration  ... engine_type num_cylinders fuel_system
0  alfa-romero       gas        std  ...        dohc          four        mpfi
1  alfa-romero       gas        std  ...        dohc          four        mpfi
2  alfa-romero       gas        std  ...        ohcv           six        mpfi
3         audi       gas        std  ...         ohc          four        mpfi
4         audi       gas        std  ...         ohc          five        mpfi

[5 rows x 10 columns]

In [ ]:
obj_df[obj_df.isnull().any(axis=1)]

     make fuel_type aspiration  ... engine_type num_cylinders fuel_system
27  dodge       gas      turbo  ...         ohc          four        mpfi
63  mazda    diesel        std  ...         ohc          four         idi

[2 rows x 10 columns]

In [ ]:
obj_df["num_doors"].value_counts() # 4 is so common so fill with 4 simply

four    114
two      89
Name: num_doors, dtype: int64

In [ ]:
obj_df = obj_df.fillna({"num_doors": "four"})

# Approach #1 - Find and Replace

In [ ]:
obj_df["num_cylinders"].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num_cylinders, dtype: int64

In [ ]:
cleanup_nums = {"num_doors":     {"four": 4, "two": 2},
                "num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8,
                                  "two": 2, "twelve": 12, "three":3 }}

In [ ]:
obj_df.replace(cleanup_nums, inplace=True)
obj_df.head()

          make fuel_type aspiration  ...  engine_type num_cylinders fuel_system
0  alfa-romero       gas        std  ...         dohc             4        mpfi
1  alfa-romero       gas        std  ...         dohc             4        mpfi
2  alfa-romero       gas        std  ...         ohcv             6        mpfi
3         audi       gas        std  ...          ohc             4        mpfi
4         audi       gas        std  ...          ohc             5        mpfi

[5 rows x 10 columns]

In [ ]:
obj_df.dtypes   # those columns are converted to numbers

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

# Approach #2 - Label Encoding

In [ ]:
'''
Label encoding is simply converting each value in a column to a number
convertible -> 0
hardtop -> 1
hatchback -> 2
sedan -> 3
wagon -> 4

One trick you can use in pandas is to convert a column to a category, then use those category values for your label encoding:
'''

In [ ]:
obj_df["body_style"] = obj_df["body_style"].astype('category')
obj_df.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors             int64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_system          object
dtype: object

In [ ]:
# Then you can assign the encoded variable to a new column using the cat.codes accessor:
obj_df["body_style_cat"] = obj_df["body_style"].cat.codes
obj_df.head()

          make fuel_type aspiration  ...  num_cylinders fuel_system body_style_cat
0  alfa-romero       gas        std  ...              4        mpfi              0
1  alfa-romero       gas        std  ...              4        mpfi              0
2  alfa-romero       gas        std  ...              6        mpfi              2
3         audi       gas        std  ...              4        mpfi              3
4         audi       gas        std  ...              5        mpfi              3

[5 rows x 11 columns]

# Approach #3 - One Hot Encoding

Label encoding has the advantage that it is straightforward but it has the disadvantage that the numeric values can be “misinterpreted” by the algorithms. For example, the value of 0 is obviously less than the value of 4 but does that really correspond to the data set in real life?

Pandas supports this feature using get_dummies. This function is named this way because it creates dummy/indicator variables (aka 1 or 0).

Hopefully a simple example will make this more clear. We can look at the column drive_wheels where we have values of 4wd , fwd or rwd . By using get_dummies we can convert this to three columns with a 1 or 0 corresponding to the correct value:

In [ ]:
pd.get_dummies(obj_df, columns=["drive_wheels"]).head()

          make fuel_type  ... drive_wheels_fwd  drive_wheels_rwd
0  alfa-romero       gas  ...                0                 1
1  alfa-romero       gas  ...                0                 1
2  alfa-romero       gas  ...                0                 1
3         audi       gas  ...                1                 0
4         audi       gas  ...                0                 0

[5 rows x 13 columns]

The new data set contains three new columns:

drive_wheels_4wd
drive_wheels_rwd
drive_wheels_fwd
This function is powerful because you can pass as many category columns as you would like and choose how to label the columns using prefix . Proper naming will make the rest of the analysis just a little bit easier.

In [ ]:
pd.get_dummies(obj_df, columns=["body_style", "drive_wheels"], prefix=["body", "drive"]).head()

          make fuel_type aspiration  ...  drive_4wd drive_fwd drive_rwd
0  alfa-romero       gas        std  ...          0         0         1
1  alfa-romero       gas        std  ...          0         0         1
2  alfa-romero       gas        std  ...          0         0         1
3         audi       gas        std  ...          0         1         0
4         audi       gas        std  ...          1         0         0

[5 rows x 17 columns]

The other concept to keep in mind is that get_dummies returns the full dataframe so you will need to filter out the objects using select_dtypes when you are ready to do the final analysis.

One hot encoding, is very useful but it can cause the number of columns to expand greatly if you have very many unique values in a column. For the number of values in this example, it is not a problem. However you can see how this gets really challenging to manage when you have many more options.

# Approach #4 - Custom Binary Encoding

In [ ]:
obj_df["engine_type"].value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine_type, dtype: int64

For the sake of discussion, maybe all we care about is whether or not the engine is an Overhead Cam (OHC) or not. In other words, the various versions of OHC are all the same for this analysis. If this is the case, then we could use the str accessor plus np.where to create a new column the indicates whether or not the car has an OHC engine.

In [ ]:
obj_df["OHC_Code"] = np.where(obj_df["engine_type"].str.contains("ohc"), 1, 0)

In [ ]:
obj_df[["make", "engine_type", "OHC_Code"]].head()    # This approach can be really useful if there is an option to consolidate to a simple Y/N value in a column. This also highlights how important domain knowledge is to solving the problem in the most efficient manner possible.

          make engine_type  OHC_Code
0  alfa-romero        dohc         1
1  alfa-romero        dohc         1
2  alfa-romero        ohcv         1
3         audi         ohc         1
4         audi         ohc         1

# Scikit-Learn

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
obj_df["make_code"] = lb_make.fit_transform(obj_df["make"])
obj_df[["make", "make_code"]].head(11)

           make  make_code
0   alfa-romero          0
1   alfa-romero          0
2   alfa-romero          0
3          audi          1
4          audi          1
5          audi          1
6          audi          1
7          audi          1
8          audi          1
9          audi          1
10          bmw          2

In [ ]:
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(obj_df["body_style"])
pd.DataFrame(lb_results, columns=lb_style.classes_).head()

   convertible  hardtop  hatchback  sedan  wagon
0            1        0          0      0      0
1            1        0          0      0      0
2            0        0          1      0      0
3            0        0          0      1      0
4            0        0          0      1      0

In [ ]:
BACKWARD DIFFERENCE ENCODING

In [ ]:
POLYNOMIAL ENCODING

In [ ]:
MEAN ENCODING

In [ ]:
# types 1, 2, 3 are window glass
# types 5, 6, 7 are household glass
glass['household'] = glass.glass_type.map({1:0, 2:0, 3:0, 5:1, 6:1, 7:1})
glass.head()